name: GitHub Stats

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update-stats:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Generate Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GH_STATS_TOKEN }}
          user: ProbeYuki
          template: classic
          base: header, activity, community
          config_timezone: Asia/Tokyo
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 10
          plugin_languages_sections: most-used
          plugin_languages_colors: github
          plugin_languages_threshold: 0%
          repositories_forks: no
          repositories_affiliations: owner, collaborator, organization_member
          commits_authoring: ProbeYuki, Yang Jinwei, yangjinweiprobe@outlook.com
